In [6]:
# Data Processing
import pandas as pd
import numpy as np

# Modelling
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, precision_score, recall_score, ConfusionMatrixDisplay
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from scipy.stats import randint

# Tree Visualisation
from sklearn.tree import export_graphviz
from IPython.display import Image
import graphviz

# Bayesian
# ==============================================================================
from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import RepeatedStratifiedKFold,StratifiedKFold
from sklearn.metrics import classification_report
import xgboost as xgb
from collections import Counter
import time
import optuna
from optuna.samplers import TPESampler
from sklearn.datasets import make_classification
from sklearn.model_selection import cross_val_score

# Bayesian Multiobjetivo
# ==============================================================================
import pickle
import sys
import warnings

from sklearn.metrics import roc_auc_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

# Gradient boosting classifier
# ==============================================================================
from sklearn.ensemble import GradientBoostingClassifier

In [7]:
#carga los datos
tabla_final = pd.read_csv('Tabla_final_colab.csv', sep = ",")


## Se borran columnas irrelevantes ##
tabla_final = tabla_final.drop('FECHA_DATO', axis=1)
tabla_final = tabla_final.drop('FECHA_PROCESO', axis=1)
tabla_final = tabla_final.drop('ID_PROD', axis=1)
tabla_final = tabla_final.drop('FLAG_PREAP', axis=1)

## Definimos una tabla con los id de clientes
## Para luego poeder funtarla con las prob ##
## Si se queda se considera como parametro ##
tabla_con_id_cliente = tabla_final

tabla_final = tabla_final.drop('ID_CLIENTE', axis=1)
#visualizamos los datos
tabla_final

,CT_CTE,DEBITO_DIR,ID_EMPLEADO,ID_SEGMENTO_VALOR,ANTIGUEDAD,RENTA,EDAD,EDAD_PUNTAJE,ID_GENERO,ACEPTADO
0,1.0,0.0,0.0,2.0,6.0,87218.10,36.0,3.0,1.0,0.0
1,1.0,0.0,0.0,1.0,35.0,122179.11,23.0,1.0,0.0,0.0
2,0.0,0.0,0.0,1.0,35.0,119775.54,23.0,1.0,1.0,0.0
3,1.0,0.0,0.0,1.0,35.0,22220.04,24.0,1.0,1.0,0.0
4,1.0,0.0,0.0,1.0,35.0,295590.36,24.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
602555,0.0,0.0,0.0,2.0,62.0,97397.16,41.0,6.0,1.0,0.0
602556,0.0,0.0,0.0,2.0,7.0,168445.62,34.0,2.0,0.0,0.0
602557,0.0,0.0,0.0,1.0,6.0,53689.02,24.0,1.0,1.0,0.0
602558,0.0,0.0,0.0,2.0,229.0,64404.21,61.0,7.0,0.0,0.0
602559,0.0,0.0,0.0,2.0,52.0,97879.50,54.0,7.0,0.0,0.0

In [8]:
# Split the data into features (X) and target (y)
X = tabla_final.drop('ACEPTADO', axis=1)
y = tabla_final['ACEPTADO']

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [10]:
# Bayesian Multiobjetivo
# ==============================================================================
def train(trial):
    
    max_depth = trial.suggest_int('max_depth', 5, X_train.shape[1]) #profundidad máxima del árbol
    n_estimators=trial.suggest_int('n_estimators',125, 200) #número de ramas en el árbol
    min_samples_split = trial.suggest_int('min_samples_split', 2, 20) #mínimo de muestras en el nodo para que se pueda dividir
    min_samples_leaf = trial.suggest_int('min_samples_leaf', 2, 20) #mínimo de muestras en un nodo para que sea considerado una hoja
    min_impurity_decrease  = trial.suggest_float('min_impurity_decrease', 0, 1) #mínimo para supervisar si es necesario separar un nodo.
    
    pipeline = Pipeline([
        ("scaler", StandardScaler()),
        ("model", GradientBoostingClassifier(max_depth = max_depth, n_estimators = n_estimators, min_samples_split= min_samples_split, min_samples_leaf=min_samples_leaf, min_impurity_decrease=min_impurity_decrease))
    ])
    
    pipeline.fit(X_train, y_train)
    score = cross_val_score(pipeline, X_train, y_train, scoring='accuracy',
                            cv=4).mean()
    y_pred = pipeline.predict(X_test)
    precision = precision_score(y_test, y_pred)
    

    return score, precision


motpe_sampler = optuna.samplers.MOTPESampler()
motpe_experiment = optuna.create_study(sampler=motpe_sampler, direction="maximize")
motpe_experiment.optimize(train, n_trials=20)

/var/folders/cc/3mg7xtb906vcdzf2brdmqt500000gn/T/ipykernel_4459/789398933.py:26: FutureWarning: MOTPESampler has been deprecated in v2.9.0. This feature will be removed in v4.0.0. See https://github.com/optuna/optuna/releases/tag/v2.9.0.
  motpe_sampler = optuna.samplers.MOTPESampler()
[I 2023-06-23 18:06:04,779] A new study created in memory with name: no-name-4c5e9583-931b-48f5-9fdc-6e714f84a37b
[W 2023-06-23 18:08:25,673] Trial 0 failed with parameters: {'max_depth': 7, 'n_estimators': 176, 'min_samples_split': 8, 'min_samples_leaf': 7, 'min_impurity_decrease': 0.982937170557525} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:08:25,673] Trial 0 failed with value (0.9363694071959638, 0.6081713462922966).
[W 2023-06-23 18:10:44,979] Trial 1 failed with parameters: {'max_depth': 8, 'n_estimators': 144, 'min_samples_split': 2, 'min_samples_leaf': 18, 'min_impurity_decrease': 0.6007615497979056} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:10:44,980] Trial 1 failed with value (0.9361121714020182, 0.6084206722081676).
[W 2023-06-23 18:12:56,907] Trial 2 failed with parameters: {'max_depth': 7, 'n_estimators': 141, 'min_samples_split': 18, 'min_samples_leaf': 6, 'min_impurity_decrease': 0.7352699010807824} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:12:56,908] Trial 2 failed with value (0.9363216941051513, 0.6076675026872089).
[W 2023-06-23 18:15:29,348] Trial 3 failed with parameters: {'max_depth': 5, 'n_estimators': 169, 'min_samples_split': 2, 'min_samples_leaf': 11, 'min_impurity_decrease': 0.41353021103348986} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:15:29,349] Trial 3 failed with value (0.9363818540892194, 0.6104058644734489).
[W 2023-06-23 18:18:06,666] Trial 4 failed with parameters: {'max_depth': 7, 'n_estimators': 182, 'min_samples_split': 16, 'min_samples_leaf': 2, 'min_impurity_decrease': 0.5521313846887781} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:18:06,667] Trial 4 failed with value (0.936232491370154, 0.6070017953321365).
[W 2023-06-23 18:20:21,894] Trial 5 failed with parameters: {'max_depth': 6, 'n_estimators': 162, 'min_samples_split': 12, 'min_samples_leaf': 15, 'min_impurity_decrease': 0.9591161641326051} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:20:21,894] Trial 5 failed with value (0.936464833377589, 0.6087113030957524).
[W 2023-06-23 18:22:49,809] Trial 6 failed with parameters: {'max_depth': 7, 'n_estimators': 175, 'min_samples_split': 7, 'min_samples_leaf': 20, 'min_impurity_decrease': 0.7566563350532952} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:22:49,809] Trial 6 failed with value (0.9363548858204992, 0.6076469537252099).
[W 2023-06-23 18:26:21,399] Trial 7 failed with parameters: {'max_depth': 9, 'n_estimators': 126, 'min_samples_split': 10, 'min_samples_leaf': 8, 'min_impurity_decrease': 0.08260589781183936} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:26:21,400] Trial 7 failed with value (0.9355997742963357, 0.6021998166819432).
[W 2023-06-23 18:29:26,069] Trial 8 failed with parameters: {'max_depth': 6, 'n_estimators': 131, 'min_samples_split': 14, 'min_samples_leaf': 13, 'min_impurity_decrease': 0.09542127944058842} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:29:26,070] Trial 8 failed with value (0.9363424389272438, 0.6072831131738665).
[W 2023-06-23 18:32:14,118] Trial 9 failed with parameters: {'max_depth': 9, 'n_estimators': 156, 'min_samples_split': 6, 'min_samples_leaf': 14, 'min_impurity_decrease': 0.2868639402454519} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:32:14,119] Trial 9 failed with value (0.9357844032129581, 0.6062043795620438).
[W 2023-06-23 18:34:43,646] Trial 10 failed with parameters: {'max_depth': 5, 'n_estimators': 185, 'min_samples_split': 20, 'min_samples_leaf': 20, 'min_impurity_decrease': 0.7003095116689906} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:34:43,647] Trial 10 failed with value (0.9364337161444503, 0.6086175942549371).
[W 2023-06-23 18:37:15,232] Trial 11 failed with parameters: {'max_depth': 7, 'n_estimators': 140, 'min_samples_split': 17, 'min_samples_leaf': 18, 'min_impurity_decrease': 0.3285549153921996} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:37:15,233] Trial 11 failed with value (0.9362221189591078, 0.6066870393672479).
[W 2023-06-23 18:39:44,483] Trial 12 failed with parameters: {'max_depth': 9, 'n_estimators': 162, 'min_samples_split': 15, 'min_samples_leaf': 19, 'min_impurity_decrease': 0.9154990673529033} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:39:44,484] Trial 12 failed with value (0.9361495120817843, 0.6102033405954974).
[W 2023-06-23 18:42:36,381] Trial 13 failed with parameters: {'max_depth': 8, 'n_estimators': 200, 'min_samples_split': 20, 'min_samples_leaf': 13, 'min_impurity_decrease': 0.8187326162798543} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:42:36,383] Trial 13 failed with value (0.9363216941051513, 0.6106773197748321).
[W 2023-06-23 18:45:26,079] Trial 14 failed with parameters: {'max_depth': 8, 'n_estimators': 133, 'min_samples_split': 15, 'min_samples_leaf': 20, 'min_impurity_decrease': 0.2620493917739659} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:45:26,080] Trial 14 failed with value (0.935981479022836, 0.6082568807339449).
[W 2023-06-23 18:48:49,840] Trial 15 failed with parameters: {'max_depth': 7, 'n_estimators': 186, 'min_samples_split': 15, 'min_samples_leaf': 7, 'min_impurity_decrease': 0.20825394668563157} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:48:49,841] Trial 15 failed with value (0.9361847782793414, 0.6089847259658581).
[W 2023-06-23 18:51:00,320] Trial 16 failed with parameters: {'max_depth': 9, 'n_estimators': 127, 'min_samples_split': 4, 'min_samples_leaf': 11, 'min_impurity_decrease': 0.9485637420861338} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:51:00,321] Trial 16 failed with value (0.9361557355284121, 0.6090348330914369).
[W 2023-06-23 18:53:39,856] Trial 17 failed with parameters: {'max_depth': 9, 'n_estimators': 173, 'min_samples_split': 2, 'min_samples_leaf': 9, 'min_impurity_decrease': 0.7211271369043669} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:53:39,858] Trial 17 failed with value (0.9360291921136484, 0.6103706408617856).
[W 2023-06-23 18:57:17,889] Trial 18 failed with parameters: {'max_depth': 6, 'n_estimators': 128, 'min_samples_split': 4, 'min_samples_leaf': 16, 'min_impurity_decrease': 0.06507944467559523} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 18:57:17,890] Trial 18 failed with value (0.9363694071959638, 0.6066189624329159).
[W 2023-06-23 19:00:41,398] Trial 19 failed with parameters: {'max_depth': 8, 'n_estimators': 182, 'min_samples_split': 11, 'min_samples_leaf': 18, 'min_impurity_decrease': 0.21125214881663634} because of the following error: The number of the values 2 did not match the number of the objectives 1..
[W 2023-06-23 19:00:41,399] Trial 19 failed with value (0.9360063728093468, 0.6101913171449596).